body {
  font-size: 16px;
}

#spritesheet {
  display: none;
}

#fun-container {
  outline: 1px solid black;
  margin: 1.25em;
  height: 500px;
  width: 500px;
  overflow: hidden;
}

#the-canvas {
  position: relative;
}
